body {
    background-image: linear-gradient(to left, white -70%, black);
    font-family: 'Gentium Basic';
    font-size: 40px;
}
main {
    background-color: antiquewhite;
    border-radius: 50px;
    box-shadow: 10px 10px 10px black;
    width: 1200px;
    padding: 20px;
    margin: auto;
    text-align: center;
 
}
main img {
        width: 550px;
        height: 550px;
        border-radius: 20%;
        padding: 1px;
}

main a:hover {
        color: green;
        
    }
main a {
    font-size: 50px;
    color: red;
    text-decoration: none;
    padding: 20px;
}

main p {
    text-align: justify;
}
body a {
    color: red;
    text-decoration: none;
    padding: 10px;
    text-shadow: 1px 1px 1px;
    text-align: start;
}
video {
    width: 800px;
    border-radius: 3%;
}

nav h3{
    text-align: center;
    color: antiquewhite;
}
nav a:hover {
    color: green
}
a {
    text-align: center;
}
p a{
    padding: 2px 5px;
    width:20px;
    color:white;
    background:red;
    border: 1px solid;
    border-radius:50%;
}



